### Backend
fastapi
uvicorn

### Pipeline
yfinance
transformers
torch
pandas
numpy
python-dotenv
scipy
kagglehub
rapidfuzz
truthbrush


### Models
pydantic
pydantic-settings

### RAG
sentence-transformers
faiss-cpu